.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header' 
    'menu main main main main' 
    'footer footer footer footer footer';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container>div {
  background-color: #fafbfb;
  text-align: center;
  padding: 20px 5px;
  font-size: 16px;

}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-height: 800px; */
  /* height: 185vh; */
  /* width: 85vw; */
  margin: auto;
}

.box {
  display: inline-grid;
  flex-wrap: wrap;
  align-content: end;
  align-items: end;
  justify-content: center;
  text-align: center;
  width: 23%;
  height: 180px;
  justify-items: center;
  margin: 10px;
  padding: 3px;
  background-color: #3f51b5;
  box-shadow: -5px 5px 13px 5px rgb(18 18 18 / 20%)
}

span {
  color: whitesmoke;
}

span.movie-title {
  font-size: smaller;
  height: 35px;
  font-weight: 600;
}

span.movie-subtitle {
  font-size: smaller;
  height: 35px;
  font-weight: 400;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]::before {
  content: '⭐'
}

input[type="radio"]:hover::before {
  font-size: 1.5rem;
  content: '⭐'
}

input#searchInput {
  height: 35px;
  width: 175px;
  border-radius: 3px;
  padding: 0px 0px 0px 10px;
  margin: 0px 5px;
}

button {
  height: 35px;
  border-radius: 3px;
  margin: 0px 2px;
}

#link {
  background: #1a245a;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

#link:hover {
  background: #ffb514;
  color: #000;
  padding: 10px;
  font-weight: bold;
}